.content {
	position: relative;
	color: #fff;
	z-index: -1;
	text-align: center;
	font-size: 2rem;
}

.product {
	.productList {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		article {
			width: 30%;
			margin-bottom: 80px;

			.pic {
				width: 100%;
				height: 400px;
				margin-bottom: 50px;
			}
			h3 {
				font: 400 1rem/1.2 'raleway';
				color: #888;
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.product {
		.productList {
			article {
				width: 47%;
				margin-bottom: 50px;
				.pic {
					height: 40vw;
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.product {
		.productList {
			article {
				width: 100%;
			}
		}
	}
}

// 구조 변경전 코드
// .product {
//     .pic {
//         width: 50%;
//         height: 50%;
//         overflow: hidden;

//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }
// }
